/* neutralise every element */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

.textWrapper {
  position: relative;
}

.black {
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: fit-content;
}

.blue {
  color: blue;
}

#header,
#footer {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
/* ########################################################################################### Header Section #################################################################################################
######### */

#practice {
  font-weight: 800;
}

/* ########################################################################################### first second Third Section #################################################################################################
######### */

#firSecThird {
  display: flex;
  margin-left: 30%;
  margin-top: 10px;
  margin-bottom: 10px;
}
#first,
#Seco,
#Third {
  text-transform: uppercase;
}

#first {
  background-color: green;
}
#Seco {
  background-color: red;
}
#Third {
  background-color: yellow;
}

/* ########################################################################################### images Section #################################################################################################
######### */

#images {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

img {
  width: 400px;
  height: auto;
}

/* ########################################################################################### randomText Section #################################################################################################
######### */

#randomText {
  padding: 10px;
}

#blueParag {
  color: blue;
}

/* ########################################################################################### Checkboxes Section #################################################################################################
######### */

#checkboxes {
  padding: 20px;
}

.checkboxes {
  padding: 20px;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 2px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: black;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* ########################################################################################### table Section #################################################################################################
######### */
#tableSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

hr {
  margin-bottom: 5px;
  width: 100%;
}

table {
  margin-bottom: 10px;
}

table,
th,
td {
  border: 2px solid black;
  font-size: large;
}

th {
  width: 30px;
}

th,
td {
  padding: 1px;
}

.withoutBorder {
  border: none;
}

/* ########################################################################################### ask Me Section #################################################################################################
######### */

#askMe {
  background-color: greenyellow;
  width: fit-content;
  display: flex;
  padding: 0 2px;
  display: flex;
  align-items: center;
  gap: 2px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 22px;
  border: 1px solid black;
}

#iIcon {
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: greenyellow;
  display: flex;
  align-items: center;
  justify-content: center;
}
