* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* dont forget it  */
a:visited img {
  width: 20px;
}

.sectionHeading {
  font-size: 34px;
}

.white {
  color: white;
}

.fifteenPxBottom {
  margin-bottom: 15px;
}

nav .navbar .container-fluid .collapse .navbar-nav a {
}

.flex {
  display: flex;
}

/* #################################################################################################     Home Section ############################################################################# */

.firstSection {
  display: flex;
  align-items: center;
  background: #eb01a5;
  background-image: url(img/boardroom.jpg),
    linear-gradient(45deg, rgb(0, 0, 0), rgb(184, 179, 179));
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

.introWhite {
  font-size: 40px;
  color: #fff;
}

.images img {
  width: 60px;
  margin-right: 20px;
}

/* #################################################################################################     Resume Section ############################################################################# */

.resumeSection {
  background-image: url(img/neuronetwork.png),
    linear-gradient(45deg, rgb(0, 0, 0), rgb(184, 179, 179));
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  display: flex;
}

.transBack {
  background: linear-gradient(45deg, #67a6b1, red);
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techSkill {
  color: #fff;
  font-size: 14px;
}

.flexedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.flexedContainer ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

/* #################################################################################################     Education Section ############################################################################# */

.educationSection {
  background-image: url(img/education.png),
    linear-gradient(45deg, rgb(0, 0, 0), rgb(184, 179, 179));
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: right;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.educationSection {
  padding: 20px;
  text-align: center;
}
.columns {
  display: flex;
}

.rows {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.rightSpace {
  width: 60%;
  height: 100px;
}

.row2 {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 30px;
  border-bottom: 1px solid gray;
}

.left img {
  max-width: 200px;
}

.row2 .left,
.row2 .right {
  display: block;
}

.right p {
  margin: 0;
  margin-bottom: 4px;
}

.right .title {
  font-size: 20px;
  font-weight: bold;
}
.subtitle {
  font-size: 19px;
}
.duration {
  font-size: 18px;
}

/* #################################################################################################     Contact Section ############################################################################# */

.contactSection {
  background-image: url(img/contact.png),
    linear-gradient(45deg, rgb(0, 0, 0), rgb(184, 179, 179));
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  display: flex;
  align-items: center;
}
.formTitle {
  color: #fff;
}

.contactSection form {
  background-color: rgba(160, 93, 62, 0.829);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formBtnWrapper {
  display: flex;
  justify-content: center;
}

.formBtn {
  width: 400px;
  text-align: center;
}
